---
import { getCollection } from 'astro:content';
import { t } from 'astro-i18n';
import { l } from '../../utils';

import Layout from '../../layouts/Layout.astro';
import WeekOperatingTimes from '../../components/WeekOperatingTimes.astro';
import PillList from '../../components/PillList.astro';
import ExternalIcon from '../../components/ExternalIcon.astro';
import Filters from '../../components/Filters.astro';

const allOrgs = await getCollection('organizations');
---

<Layout title={t('site.title')}>
  <h2 class="text-3xl">
    {t('Organizations')}
  </h2>

  <Filters />

  <div class="mt-5 grid md:grid-cols-2 lg:grid-cols-3 gap-5">
    {allOrgs.map((org) => (
      <div
        class="card card-compact bg-base-100 shadow-lg border border-neutral border-opacity-20"
        data-organization-card
      >
        <div class="card-body">
          <div>
            <h3 class="card-title">
              <a href={l(`/organizations/${org.slug}`)} class="hover:underline">
                {org.data.title}
              </a>
            </h3>

            <address class="text-lg not-italic">{org.data.location}</address>

            {org.data.link && (
              <a href={org.data.link} target="_blank" class="link flex items-end gap-1 mt-2">
                {t('Website')}
                <ExternalIcon />
              </a>
            )}
          </div>

          <PillList
            title={t('Services')}
            items={org.data.services.map((s) => t(`resources.${s}`))}
          />

          <WeekOperatingTimes operatingTimes={org.data.operatingTimes} />
        </div>
      </div>
    ))}
  </div>
</Layout>
