---
import { getCollection } from 'astro:content';
import { astroI18n, t, l } from 'astro-i18n';

import Layout from '../../layouts/Layout.astro';
import WeekOperatingTimes from '../../components/WeekOperatingTimes.astro';
import PillList from '../../components/PillList.astro';

const allOrgs = await getCollection('organizations');
---

<Layout title={t('site.title')}>
  <h2 class="text-3xl">
    {t('Organizations')}
  </h2>

  <div class="mt-5 flex flex-col gap-5">
    {allOrgs.map((org) => (
      <div class="card card-compact bg-base-100 shadow-lg border border-neutral border-opacity-20">
        <div class="card-body">
          <div>
            <h3 class="card-title">
              <a href={l(`/organizations/${org.slug}`)} class="hover:underline">
                {org.data.title}
              </a>
            </h3>
            <address class="text-lg not-italic">{org.data.location}</address>
          </div>

          <PillList
              title={t('Services')}
              items={org.data.services.map((s) => t(`resources.${s}`))}
          />

          <PillList
              title={t('Accepted Donations')}
              items={org.data.accepting.map((s) => t(`resources.${s}`))}
          />

          <WeekOperatingTimes operatingTimes={org.data.operatingTimes} />
        </div>
      </div>
    ))}
  </div>
</Layout>
