---
import { astroI18n, t } from 'astro-i18n';
import { localeLabels } from '../../astro-i18n.config';
import { l } from '../utils';

interface Props {
	title: string;
}

const { title } = Astro.props;

let localeDirection = 'ltr';
if (astroI18n.locale === 'ar') {
	localeDirection = 'rtl';
}


---

<!doctype html>
<html lang={astroI18n.locale} dir={localeDirection}>
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>
<body>
	<div class="navbar bg-neutral text-neutral-content flex flex-col">
		<div class="flex flex-col gap-2">
			<h1 class="text-xl">
				{t('site.title')}
			</h1>
		</div>

		<div class="">
			<ul class="menu menu-horizontal px-1">
				<li>
					<a href={l('/')}>
						{t('Organizations')}
					</a>
				</li>
				<li>
					<a href={l('/about')}>
						{t('About')}
					</a>
				</li>

				<li>
					<details>
						<summary>{t('Language')}</summary>
						<ul class="shadow text-base-content z-10 bg-base-100 rounded-box p-2">
							{astroI18n.locales.sort().map((targetLocale) => (
								<li>
									<a href={l(astroI18n.route, { targetLocale })}>
										{localeLabels[targetLocale]}
									</a>
								</li>
							))}
						</ul>
					</details>
			</ul>
		</div>
	</div>

	<main class="container mx-auto py-5 px-3">
		<slot />
	</main>
</body>
</html>
