---
import Layout from './Layout.astro';
import { Organization } from '../content/config';
import PillList from '../components/PillList.astro';
import WeekOperatingTimes from '../components/WeekOperatingTimes.astro';

interface Props {
  org: Organization;
}

const { org } = Astro.props;
---

<Layout title={org.title}>
  <div>
    <h2 class="text-3xl">
      {org.title}
    </h2>

    <address class="text-lg not-italic">{org.location}</address>
  </div>

  <PillList title="Services" items={org.services} />

  <PillList title="Accepted Donations" items={org.accepting} />

  <WeekOperatingTimes operatingTimes={org.operatingTimes} />
</Layout>
